{% for item in goal_progress %}
                <li class="felx justify-between items-center">
                    <div class="tetx-gray-800">
                        <p class="font-semibold"> {{item.goal.name}}heel </p>
                        <p class="text-gray-600 tetx-sm">Target &#8377; {{item.goal.target_amount|floatformat:2}} </p>
                        <p class="text-gray-600 tetx-sm">Deadline {{item.goal.deadline}} </p>
                    </div>
                    <div class="text-right">
                        <p class="text-xl font-bold text-indigo-500"> {{item.progress|floatformat:2}}% </p>
                    </div>
                </li>
                {% endfor %}